Repository ds-pack/simple-props, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“š Documentation, ğŸ§ª Tests

.github/labeler.yml:

ğŸ“š Documentation:
  - docs/*
  - docs/**/*
  - README.md
ğŸ§ª Tests:
  - src/__tests__/*
  - src/__tests__/**/*
  - src/test

WIP to secure the package name
  README.md
  package.json
Labels: ğŸ“š Documentation

Library implementation
  .codesandbox/ci.json
  README.md
  example/App.tsx
  example/index.tsx
  example/package.json
  package.json
  src/index.tsx
  yarn.lock
Labels: ğŸ“š Documentation

'Beta\ 1
  package.json
Labels: none

Fix TS config, setup Jest tests, update sandbox
  __mocks__/csstype.js
  base.tsconfig.json
  build.tsconfig.json
  example/public/index.html
  example/src/App.tsx
  example/src/index.tsx
  example/yarn.lock
  package.json
  src/__tests__/index.test.tsx
  src/__tests__/test.tsx
  src/index.tsx
  yarn.lock
Labels: ğŸ§ª Tests

V0.2
  README.md
  package.json
  src/__tests__/index.test.tsx
  src/index.tsx
Labels: ğŸ“š Documentation, ğŸ§ª Tests

Remove breakpoints config
  README.md
  package.json
  src/__tests__/index.test.tsx
  src/index.tsx
Labels: ğŸ“š Documentation, ğŸ§ª Tests

Remove breakpoints config (#3)
  README.md
  package.json
  src/__tests__/index.test.tsx
  src/index.tsx
Labels: ğŸ“š Documentation, ğŸ§ª Tests

Support token references
  README.md
  package.json
  src/__tests__/index.test.tsx
  src/index.tsx
Labels: ğŸ“š Documentation, ğŸ§ª Tests

Support token references (#4)
  README.md
  package.json
  src/__tests__/index.test.tsx
  src/index.tsx
Labels: ğŸ“š Documentation, ğŸ§ª Tests

Remove csstype
  __mocks__/csstype.js
  package.json
  src/index.tsx
  yarn.lock
Labels: none

Patch number.match bug
  src/index.tsx
Labels: none

Patch number.match bug
  package.json
Labels: none

Support generating multiple properties from one prop + fix for responsive styles
  package.json
  src/__tests__/index.test.tsx
  src/index.tsx
Labels: ğŸ§ª Tests
